{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">TweetSphere</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_list' %}">Profile List</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>
          {% else %}
          <a class="nav-link" href="{% url 'register' %}">Register</a>
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          {% endif%}
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-link navbar-brand">
            <a href="{% url 'profile' request.user.id %}" >
              
              {% if user.profile.profile_image %}  
            <img src="{{ user.profile.profile_image.url }}" class="rounded-circle" width="30">
            {% else %}

            <img src="{% static 'images/default_profile_pic.jpg' %}" class="img-fluid rounded-circle" alt="Profile image" width="30">
            {% endif %}
            </a>
          </li>
        </ul>
        {% endif %}
        <form class="d-flex" role="search" method="GET" action="{% url 'search_users' %}">
          {% csrf_token %}
          <input class="form-control me-2" type="search" name="query" placeholder="Search Users" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
